* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #aaa;
}

main {
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px #888 solid;
    padding: 0.3rem;
}

.clickables {
    cursor: pointer;
}

.extra {
    background: #c33;
}
