/* ******************************************************* */
/* Initialisations */
/* ******************************************************* */
:root {
    --primary-color: #1167b1;
    --primary-color1: #187bcd;
    --primary-color2: #2a9df4;
    --primary-color3: #d0efff;
    --primary-color4: #03254c;
    --complementary-color11: #fc7632;
    --complementary-color12: #b04d1a;
    --complementary-color21: #fcce00;
    --complementary-color22: #b09109;

    --incative-app-gradient: -webkit-linear-gradient(
        left,
        var(--primary-color1),
        var(--primary-color4)
    );
    --incative-app-hover-gradient: -webkit-linear-gradient(
        left,
        var(--primary-color1),
        var(--primary-color3)
    );
    --inactive-app-shadow: 0 1px 8px #00b;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus,
button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
}

.max-width-container {
    max-width: 1600px;
    margin: 0 auto;
}

/* ******************************************************* */
/* utility classes */
/* ******************************************************* */
.hidden {
    display: none;
}

.shown {
    display: block;
}

.clickables {
    cursor: pointer;
}

.colored-text {
    color: var(--complementary-color12);
    font-weight: bold;
}

.colored-text1 {
    color: var(--primary-color);
    text-shadow: 2px 1px 1px var(--complementary-color21);
    font-weight: bold;
}

.alarming-text {
    padding: 0.2rem;
    margin: 0.4rem auto;
    border: solid 2px#f00;
    border-radius: 5px;
    background-color: rgb(255, 172, 172);
}
.notice-text {
    padding: 0.2rem;
    margin: 0.4rem auto;
    border: solid 2px#00f;
    border-radius: 5px;
    background-color: rgb(172, 172, 253);
}

.btn {
    cursor: pointer;
    background-color: var(--complementary-color11);
    border: none;
    padding: 0.33rem 0.66rem;
    margin: 0.33rem 0;
    border-radius: 15px;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--complementary-color21);
}
/* ******************************************************* */
/* NAV */
/* ******************************************************* */
.current-nav-option {
    border-bottom: 2px solid var(--primary-color4);
}

nav div.max-width-container {
    padding: 0.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    font-family: "Freestyle script", sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.7rem;
    padding: 0.3rem 0 0 0.3rem;
}

#nav-options {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-options > a {
    cursor: pointer;
    color: var(--primary-color4);
    text-align: center;
    font-weight: bolder;
    padding: 0.8rem;
}

#nav-options > a:hover {
    color: var(--primary-color);
}

#nav-options > .inactive-app {
    padding: 0.3rem 1.2rem;
    border-radius: 30px;
    background-color: var(--primary-color4);
    background-image: var(--incative-app-gradient);
    box-shadow: var(-);
    color: var(--complementary-color11);
}

#nav-options > .inactive-app:hover {
    background-image: var(--incative-app-hover-gradient);
    color: var(--primary-color4);
}

#nav-options > .active-app {
    padding: 0.3rem 1rem;
    border-radius: 20px;
    background-color: var(--primary-color3);
    color: var(--primary-color4);
}

@media (max-width: 480px) {
    nav div.max-width-container {
        padding: 0.3rem 0.8rem;
        flex-flow: column wrap;
        align-items: center;
    }

    .logo {
        font-size: 1.5rem;
    }

    #nav-options > a {
        font-weight: bold;
        padding: 0.3rem 0.5rem;
    }
}

/* ******************************************************* */
/* FOOTER */
/* ******************************************************* */
footer {
    background: #001a36;
    color: #fff;
}

footer > .max-width-container {
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

footer > .max-width-container > div {
    margin-bottom: 1rem;
}

footer > .max-width-container > div:nth-child(2) > a,
footer > .max-width-container > div:nth-child(3) > a {
    margin: 0.3rem;
    display: block;
}

footer i {
    margin: 0.5rem;
}

@media (max-width: 480px) {
    footer > .max-width-container {
        flex-flow: column wrap;
        align-items: start;
    }
}
