/* ******************************************************* */
/* Initialisations */
/* ******************************************************* */
:root {
    --primary-color: #1167b1;
    --primary-color1: #187bcd;
    --primary-color2: #2a9df4;
    --primary-color3: #d0efff;
    --primary-color4: #03254c;
    --complementary-color11: #fc7632;
    --complementary-color12: #b04d1a;
    --complementary-color21: #fcce00;
    --complementary-color22: #b09109;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus,
button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
}

.max-width-container {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background: url(./../assets/img/bg2.png) no-repeat center center / cover;
}

/* ******************************************************* */
/* utility classes */
/* ******************************************************* */
.hidden {
    display: none;
}

.shown {
    display: block;
}

.clickables {
    cursor: pointer;
}

.colored-text {
    color: var(--complementary-color12);
    font-weight: bold;
}

.alarming-text {
    padding: 0.2rem;
    margin: 0.4rem auto;
    border: solid 2px#f00;
    border-radius: 5px;
    background-color: rgb(255, 172, 172);
}
.notice-text {
    padding: 0.2rem;
    margin: 0.4rem auto;
    border: solid 2px#00f;
    border-radius: 5px;
    background-color: rgb(172, 172, 253);
}
/* ******************************************************* */
/* NAV */
/* ******************************************************* */
.current-nav-option {
    border-bottom: 2px solid var(--primary-color4);
}

nav div.max-width-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    font-family: "Freestyle script", sans-serif;
    font-weight: bolder;
    cursor: default;
    font-size: 1.5rem;
    padding: 0.3rem;
}

#nav-options {
    height: 100%;
    display: flex;
}

#nav-options > a {
    cursor: pointer;
    color: var(--primary-color4);
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
}

#nav-options > a:hover {
    color: var(--primary-color);
}

@media (max-width: 480px) {
    #nav-options > a {
        font-weight: bold;
        padding: 0.3rem;
    }
}
/* ******************************************************* */
/* MAIN */
/* ******************************************************* */
.soft-container {
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 9px;
    background: #fff;
    margin: 1rem 0;
}

.js-add-subnet,
.js-remove-subnet {
    cursor: pointer;
    color: var(--complementary-color11);
    font-size: 1.1rem;
    padding: 0.2rem;
}

.js-add-subnet:hover,
.js-remove-subnet:hover {
    color: var(--complementary-color21);
}

main {
    padding: 0 1rem;
    margin: 3rem 0;
    min-height: 95vh;
    background-attachment: fixed;
}

main div.max-width-container {
    padding: 0 1rem;
}

#options {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
}

div#options > div {
    display: block;
    background: var(--primary-color2);
    padding: 0.6rem 0.4rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
#options > *:hover {
    background: var(--primary-color1);
}

div#options div.current-option {
    background: var(--primary-color3);
}

div#options > div:first-child {
    border-radius: 8px 0px 0px 0px;
}
div#options > div:last-child {
    border-radius: 0px 8px 0px 0px;
}

#clf-addr,
#cls-addr,
#vlsm {
    padding: 1rem 1rem 3rem 1rem;
    background: var(--primary-color3);
    border-radius: 12px;
}

@media (max-width: 550px) {
    div#options > div {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .soft-container {
        padding: 0.8rem 0.5rem;
    }

    main {
        padding: 0rem;
        margin: 1rem 0;
    }

    main div.max-width-container {
        padding: 0 0.3rem;
    }

    div#options > div {
        padding: 0.4rem 0.3rem;
        font-size: 1rem;
    }

    #clf-addr,
    #cls-addr,
    #vlsm {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
    }
}

/* ************************** */
/* formes */
/* ************************** */

.short-input {
    width: 2.5rem;
}

label {
    display: inline-block;
    margin-top: 0.8rem;
}

input {
    border: none;
    border-bottom: 2px solid var(--complementary-color11);
    padding: 0.4rem 0.2rem;
    margin: 0 0 0.2rem 0;
    font-size: 1rem;
    max-width: 150px;
    background-color: rgba(247, 247, 247, 0.9);
}

input:focus {
    border-bottom: 3px solid var(--complementary-color21);
}

.btn {
    cursor: pointer;
    background-color: var(--complementary-color11);
    border: none;
    padding: 0.33rem 0.66rem;
    margin: 0.33rem 0;
    border-radius: 15px;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--complementary-color21);
}
/* ************************** */
/* tables */
/* ************************** */

table.long-table {
    border: var(--primary-color4) solid 1px;
}

tr:nth-child(odd) {
    background-color: #e1e1e1;
}

tr:nth-child(even) {
    background-color: #fff;
}

td,
th {
    padding: 0.3rem;
}

.long-table th,
.long-table td {
    border-left: 1px #888 dotted;
    border-right: 1px #888 dotted;
    max-width: 145px;
}

.long-table th {
    background-color: var(--primary-color4);
    color: #fff;
}

.properties-table th {
    text-align: left;
    color: var(--primary-color4);
}

.js-extra {
    background: rgb(255, 120, 120) !important;
}

.js-focused-subnet {
    background: rgb(120, 120, 255) !important;
}

.scroll {
    width: calc(var(100% - 20px));
    overflow: auto;
    white-space: nowrap;
    margin: auto;
}

@media (max-width: 480px) {
    td,
    th {
        padding: 0.2rem;
    }

    .properties-table th,
    .properties-table td {
        display: inline-block;
    }
}
/* ******************************************************* */
/* ... */
/* ******************************************************* */
